<div class="row">
  <div class="col-md-4"><h2>Text in column1 <i class="glyphicon glyphicon-ok"></i> </h2></div>
  <div class="col-md-4"><h2>Text in column2<i class="glyphicon glyphicon-ok"></i></h2></div>
  <div class="col-md-4"><h2>Text in column3<i class="glyphicon glyphicon-ok"></i></h2></div>
</div>
